body {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
}

aside {
   background-color: pink;
   width:200px;
   height:100%;
   position:absolute;
   left: 0;
   /* TODO: 이 곳을 채우세요! */
}

.main {
   background-color: skyblue;
   height:100%;
   position: absolute;
   left: 200px;
   width: auto;

   /* TODO: 이 곳을 채우세요! */
}
