 /* --- contents ---                */
 /*   1. general settings           */
 /*   2. reusable structural items  */
 /*   3. reusable skins             */
 /*   4. section specific stylings  */
 /*      a. header                  */
 /*      b. side nav                */
 /*      c. main body               */


/* 1. general settings              */
@font-face {
   font-family: Octicons;
   src: url("../octicons.ttf");
}

.monofont {
   font-family: "Monaco";
}

.octicons {
   font-family: Octicons;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* TODO: 어떤 코드가 들어가야 할까요? */
}

html, body {
   font-family: Helvetica;
   color: rgb(38, 38, 38);
   height: 100%;
   /* TODO: 어떤 코드가 들어가야 할까요? */
}

a {
   color: #0366d6;
   text-decoration: none;
}

li {
   display: inline-block;
}

/* 2. reusable structural items     */
.flexbox-container{
	display: flex;
	width: 100%;
}

.right {
   float: right;
}
.left {
   float: left;
}

.page-width {
   width: 1020px;
   margin: 0 auto;
   height: 100%;
}

.btn {
   border-radius: 3px;
   display: inline-block;
   font-weight: bold;
   text-align: center;
   border: 1px solid;
}

.btn-small {
   font-size: 16px;
   font-weight: normal;
   padding: 3px 11px;
   line-height: 16px;
}

.split-btn-frame {
   font-size: 14px;
   line-height: 20px;
   border-radius: 3px;
   display: inline-block;
   text-align: center;
   border: 1px solid;
   border-color: rgb(214, 214, 214);
   background: white;
}

.split-btn-grey {
    padding:3px 10px;
    background: linear-gradient(-180deg,rgb(236,236,236), rgb(250, 250, 250));
    background:rgb(236, 236, 236);
    color: rgb(38, 38, 38);
    display: inline-block;
}

.split-btn-white {
    padding:3px 5px;
    background: none;
    color: rgb(38, 38, 38);
    display: inline-block;
}
.split-btn-grey > a {
   margin:0 4px;
    color: rgb(38, 38, 38);
}
.split-btn-white > a {
    color: rgb(38, 38, 38);
}

.btn-medium {
   font-size: 13px;
   padding: 5px 10px;
   line-height: 26px;
}

/* 3. reusable skins                */
 .btn-green {
    color: #fff;
    background:  #56ac3a;
    background: linear-gradient(-180deg,rgb(85, 170, 57), rgb(119, 214, 88));
    border-color:rgb(89, 164, 63);
 }
 
 .btn-grey {
    background: linear-gradient(-180deg,rgb(236,236,236), rgb(250, 250, 250));
    background:rgb(236, 236, 236);
    border-color: rgb(214, 214, 214);
    color: rgb(38, 38, 38);
 }

.grey-font {
   color: rgb(150, 150, 150);
}

/* 4. section specific stylings     */ 
/*    a. header                     */
header {
   width:100%;
   border-bottom: 1px solid #e1e4e8;
}

.header-grey {
   background-color: #f2f2f2;
   height: 60px;
}

.top-nav {
   display: inline-block;
   height: 60px;
   line-height: 60px;
   vertical-align: middle;
}

span.top-nav {
   font-size: 36px;
   margin-right:10px;
   height:55px;
}

form.top-nav {
   background-color: white;
   border-radius: 3px;
   border: 1px solid rgb(173, 173, 173);
   height: 28px;
   line-height:28px;
   width: 340px;
}
form.top-nav > label {
   display: inline-block;
   padding: 2px;
   margin: 2px;
   height: 22px;
   line-height: 22px;
   background-color: #f2f2f2;
   color: rgb(173, 173, 173);
   font-size: 12px;
    
}
form.top-nav > input {
    display:inline-block;
    outline:none !important;
    width: 232px;
    height: 24px;
    line-height:24px;
    padding: 2px 0;
    background:none;
    border: none;
}

nav.top-nav > ul > li {
   font-weight: bold;
   font-size: 15px;
   padding:0 5px;
}

.right > .btn {
   margin-left: 10px;
}

.header-white {
   background-color: #fff;
   height: 80px;
   line-height:80px;
   vertical-align: middle;
}
.sub-header {
   font-size: 21px;
}

span.sub-header-icon {
   font-size: 39px;
   margin-right:10px;
}

/*    b. main content               */
.flex-main-left {
   flex: 1 0 80%;
   padding-right: 1rem;
}

.repo-description {
   line-height: 50px;
}

.branch-infobar {
   height: 50px;
   justify-content: space-evenly;
   border-radius: 3px;
   border: 1px solid #e1e4e8;

}
.info-item {
   flex: 1 auto;
   text-align: center;
   line-height: 38px;
   border-bottom: 10px solid rgb(237, 220, 73);
}
.info-item span {
   margin: 0 3px;
}
select {
   background: none;
   border: 0px;
   font-size: 12px;
}
.main-detail-header { 
   height: 50px;
   line-height:50px;
}
/*    c. table                      */
table.file-navigator {
   margin: 10px 0;
   border-spacing:0;
   width: 100%;
   text-align: left;
   font-size: 14px;
   border-radius: 3px;
   border: 1px solid #e1e4e8;
}
span.monofont {
   font-size: 12px;
}

tr:last-child td {
   border-bottom: none;
}

.col {
   padding: 5px;
   height: 35px;
   border-bottom: 1px solid #e1e4e8;
}
tr.active {
   background-color: rgb(242, 242, 242);
}
tr.table-details td {
   background-color: rgb(242, 242, 242);
   height:30px;
}
td a.octicons {
   color:rgb(120, 164, 214);
   font-size:17px;
}
tr.nav-up td {
   background-color: rgb(224, 237, 244)
}
tr.main-content td {
   min-height: 150px;
   padding: 20px;
}
.content-viewer {
   border-bottom: 1px solid #e1e4e8;
   padding-bottom:10px;
}
.content-viewer h1 {
   font-size: 40px;
}

/*    d. side bar                   */
.flex-side {
   flex 1 auto;
}

.vert-flexbox-container{
   margin: 15px 0;
   padding: 15px 0;
   display: flex;
   flex-direction: column;
   border-left: 1px solid #e1e4e8;
}

.vert-flexbox-container li {
   flex 1 auto;
   height: 40px;
   line-height:40px;
   padding-left: 5px;
}

.vert-flexbox-container li.active {
   font-weight: bold;
   background: white;
   padding-left: 8px;
   border-radius: 4px;
   border: 1px solid #e1e4e8;
   border-left: 1px solid white;
   border-right: 3px solid orange;
   transform: translate(-3px, 0px);
}

.vert-flexbox-container li.divider {
   border-bottom: 1px solid #e1e4e8;
}
.count {
   width: 20px;
   height: 20px;
   margin: 10px;
   border-radius:50%;
   line-height:40px;
   text-align: center;
   background: #e1e4e8;

   position:relative;
}
.count span {
   font-size:12px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);

}

.clone-options p {
   font-size: 12px;
   margin: 5px 0;
}

.split-btn-white input {
   border:none;
   outline: none !important;
}

.side-btn {
   margin: 5px 0;
   font-weight: bold;
   font-size: 14px;
   width: 100%;
}

   
/*    footer                        */
footer {
   border-top: 1px solid #e1e4e8;
   padding-top: 40px;
   height: 60px;
}
footer * {
   display: inline;
}
footer .octicons {
   position:absolute;
   font-size: 22px;
   left: 50%;
   right: 50%;

}
footer li {
   padding: 2px;






 /* TODO: 또 어떤 코드들이 들어가야 할까요? */
